.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
    background-color: #fff;
}

.resetBtn {
  margin: 12px 0 0;
  background-color: #B76D68;
  letter-spacing: 0.7px;
}

button {
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.sorting {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  
  .container {
    padding: 0 2rem;
  }
  
  .sorting {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .resetBtn {
    width: auto;
    margin: 0;
  }
  
  select {
    width: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sorting {
    flex-wrap: nowrap;
  }
}