.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
    background-color: #fff;
}

.resetBtn {
  margin: 12px 0 0;
  background-color: #B76D68;
  letter-spacing: 0.7px;
}

button {
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
