* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0e3b43;
  width: 100vw;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navItem {
  margin-right: 1.5rem;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navLink:hover {
  color: #f7b32b;
}

.menuBtn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.menuBtn:hover {
  color: #f7b32b;
}

.brandSection {
  display: flex;
  align-items: center;
}

.brandLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 40px; /* Adjust height as needed */
  width: auto;
  transition: transform 0.2s ease;
}

.brandLink:hover .logo {
  transform: scale(1.05); /* Slight grow effect on hover */
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }

  .navList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #0e3b43;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navOpen {
    display: flex;
  }

  .navItem {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  /*   nav Link {
      display: none;
    }
  
    nav button {
      display: block;
    }
  
    .isOpen Link {
      display: block;
    } */
}
